.errorPage {
    margin: 0 9%;
    display: flex;
    align-items: center;
    justify-content:baseline;
    flex-direction: column;
    top: 200px;
    text-align: center;
    background-color: white;
    height: 100%;
}
.Whomps {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 250px;
    padding: 20px;
}


.whomp1 {
    height: 250px;
    width: 250px;
}

.whomp2 {
    height: 250px;
    width: 250px;
    transform: scalex(-1)
}

.errorPage h1 {
    font-size: 48px;
    padding: 20px;
}

.errorPage h2 {
    font-size: 36px;
    padding: 20px;
}

.linkerror {
    font-size: 36px;
    padding: 20px;
}
