/* .errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
    text-align: center;
    height: 100%;
    width: 100%;
}
.Whomps {
    display: flex;
    justify-content: center;
    height: 25%;
    width: 25%;
    padding: 2em;
}


.whomp1 {
    height: 250px;
    width: 250px;
}

.whomp2 {
    height: 250px;
    width: 250px;
    transform: scalex(-1)
}

.errorPage h1 {
    font-size: 48px;
}

.errorPage h2 {
    font-size: 36px;
}

.linkerror {
    font-size: 36px;
} */
