.AudioPlayerState {
    position: sticky;
    bottom: 0;
    z-index: 0;
   }

   .NoThumbnail {
    display: none;
   }
   .currentSongThumbnail {
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 8em;
    height: 10.5em;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    border:  1px solid black;
    background-color: #f2f2f2;
    box-sizing: border-box;
   }
   .ThumbnailContainerPlaying {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
   }

   #closeThumbnail {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
   }

   #openThumbnail {
    margin-right: 0.5em;
    margin-bottom: -8.8em;

   }
.NowPlayingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
   .nowPlaying {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;
    text-align: left;
    font-size: 0.7em;
    color: #999;
   }

   .NowPlayingButton {
    font-size: 0.4em;
   }
   .currentSongThumbnailImage {
    width: 8em;
    height: 8em;
   }
.linkContainerModal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
   .CurrentSongThumbNailLinkHome{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    color: rgb(59, 59, 59);
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: nowrap;
   }
