
.SignupForm-outer {
  height: auto;
  width: auto;
 padding: 2em 5em;
}
.SignupForm-inner {
  width: auto;
  height: auto;
  padding: 0em 5em;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 box-sizing: border-box;

}
.label {
  width: 130%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 3%;
  margin: 2%; */
}
.labelHeader {
  font-size: 5vmin;
}

.SignupModalHeader2 {
  font-size: 2vmin;
}
.labelInput {
  font-size: 2vmin;
}
.submitInputSignup {
  color: rgb(186, 186, 186);
  padding: 2%;
  font-size: 2.5vmin;
  margin-top: 10%;
  width: 120%;
  border: none;
  background-color: rgb(255, 111, 0);
}

.submitInputSignup:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: white;
}

.SignUpNavBar:hover {
  cursor: pointer;
}

.ErrorLi {
  list-style: none;
  color: red;
}
