.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: auto;

}
.CarouselImages {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
align-items: center;
z-index: 0;
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes opacitychange {
    0% {
        opacity: 0.0;
      }

    50% {
        opacity: 1;
      }

    100% {
        opacity: 0;
      }
    }

#ActiveImage {
    animation: opacitychange 5s infinite;
    width: 100%;
}

/* media screens */
@media screen and (min-width: 1200px){
    .imagesArray {
        width: 100%;
        height: 50em;
    }
    }
@media screen and (min-width: 1000px) and (max-width: 1200px){
    .imagesArray {
        width: 100%;
        height: 40em;
    }
    }


    @media screen and (max-width: 1000px) and (min-width: 650px)
    {
        .imagesArray {
            width: 100%;
            height: 30em;
        }
    }

    @media screen and (max-width: 650px)
    {
        .imagesArray {
            width: 100%;
            height: 20em;
        }
    }

    /* below image carousel */
.CreateAccountButtonHomePage {

    width: 10%;

}

.SignInHomePage {
    display: flex;
    flex-direction: row;
}

.signinbutton{
    position: relative;
    top: 1.8vh;
    height: 40%;
    width: 30%;
}
