.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: auto;
}
.CarouselImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: 0;
}

#SignedOutCarousel {
  z-index: 0;
  position: relative;
  top: -4.5em;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

@keyframes opacitychange {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#ActiveImage {
  animation: opacitychange 5s infinite;
  width: 100%;
}

/* signup background animation */
/* @keyframes backgroundopacity {
    0% {
        opacity: 0;
      }

    50% {
        opacity: 1;
      }

    100% {
        opacity: 0;
      } */
/* } */

#ActiveBackground {
  /* animation: backgroundopacity 5s infinite; */
  width: 100%;
}

/* Background buttons */

.NotSignedInButtonsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 2em;
}

.NotSignedInButtonOne,
.NotSignedInButtonTwo {
  width: 10px;
  height: 10px;
  border-radius: 6px;
  border: 1px solid white;
  cursor: pointer;
}

.NotSignedInButtonOne + .NotSignedInButtonTwo {
  margin-left: 18px;
}

#HighlightButtonBackground {
  background-color: white;
}

/* background images text */

.imagesArray {
  width: 100%;
  height: 35em;
}
.foregroundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  position: absolute;
  justify-content: space-between;
  top: 5em;
  width: 40%;
  height: 380px;
}
.BackgroundHeader3 {
  font-size: 1.5em;
  color: white;

}
#BackgroundHeader {
  color: white;
  font-size: 2em;
}
.BackgroundHeaderTwo {
  color: white;
  font-size: 1.0em;
  margin-top: 2em;
}

.BackgroundText {
  color: white;
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.CreateAccountButtonHomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
}

.SignInHomePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.8em;
  justify-content: center;
  width: auto;
}
.backgroundImageText {
  font-size: 1em;
}

.signinbutton {
  height: 4em;
  display: flex;
  align-items: center;
}
.containerForDemoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -4.5em;
  width: 90%;
  border-bottom: 0.1em solid #dbdada;
}

.demoContainerHome {
  display: flex;
  flex-direction: row;
  column-gap: 0.6em;
  align-items: center;
  margin-top: -1em;
}

.DemoUserHomePage {
  background-color: rgb(255, 111, 0);
  display: flex;
  align-items: center;
  padding-bottom: 0.1em;
  height: 1.5em;
  width: fit-content;
  border-radius: 7px;
}
.DemoHeader {
  font-size: 24px;
    font-weight: 100;
}

/* media screens */
/* @media screen and (min-width: 1200px){
    .imagesArray {
        width: 100%;
        height: 30em;
    }
    .foregroundContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        position: absolute;
        top: 5em;
        width: 35%;
    }

    .BackgroundHeader {
        color: white;
        font-size: 2vmin;
    }

    .CreateAccountButtonHomePage {
        width: 100%;
        height: 5em;
    }
    .SignInHomePage {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1em;
        justify-content: center;
        width: auto;
    }
    .backgroundImageText {
        font-size: 1em;
    }

    .signinbutton{
        height: 4em;
        display: flex;
        align-items: center;
    }
    .containerForDemoSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -5em;
    }

    .demoContainerHome {
        display: flex;
        flex-direction: row;
        column-gap: 0.2em;
        align-items: center;
    }

    .DemoUserHomePage {
        background-color: rgb(255, 111, 0);
        display: flex;
        align-items: center;
        padding-bottom: 0.1em;
        height: 2em;
        border-radius: 5%;
    }
    .DemoHeader {
        font-size: 2.em;
    }

    }

    @media screen and (min-width: 650px) and (max-width: 880px){
        .foregroundContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 5em;
            width: 30%;
        }
        .containerForDemoSection {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .demoContainerHome {
            display: flex;
            flex-direction: row;
            column-gap: 0.2em;
            align-items: center;
        }
        .DemoUserHomePage {
            background-color: rgb(255, 111, 0);
            display: flex;
            align-items: center;
            padding-bottom: 0.1em;
            height: 2em;
            border-radius: 5%;
        }
        .backgroundImageText {
            font-size: 0.8em;
        }
    }

@media screen and (min-width: 1000px) and (max-width: 1200px){
    .imagesArray {
        width: 100%;
        height: 20%;
    }
    .foregroundContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 3.5em;
        width: 35%;
    }
    .containerForDemoSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .demoContainerHome {
        display: flex;
        flex-direction: row;
        column-gap: 0.2em;
        align-items: center;
    }
    .DemoUserHomePage {
        background-color: rgb(255, 111, 0);
        display: flex;
        align-items: center;
        padding-bottom: 0.1em;
        height: 2em;
        border-radius: 5%;
    }
    .BackgroundHeader {
        color: white;
        font-size: 1.8vmin;
    }
    .backgroundImageText {
        font-size: 1vmin;
    }
    }


    @media screen and (max-width: 1000px) and (min-width: 650px)
    {
        .imagesArray {
            width: 100%;
            height: 20%;
        }
        .foregroundContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 1em;
            width: 30%;
        }
        .containerForDemoSection {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .demoContainerHome {
            display: flex;
            flex-direction: row;
            column-gap: 0.5em;
            align-items: center;
        }
        .DemoUserHomePage {
            background-color: rgb(255, 111, 0);
            display: flex;
            align-items: center;
            padding-bottom: 0.1em;
            height: 2em;
            border-radius: 5%;
        }
        .BackgroundHeader {
            color: white;
            font-size: 1.8vmin;
        }
        .backgroundImageText {
            font-size: 1vmin;
        }


    }

    @media screen and (max-width: 650px)
    {
        .imagesArray {
            width: 100%;
            height: 20%;

        }
        .foregroundContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 3em;
            width: 15em;
            height: 20em;
        }
        .BackgroundHeader {
            color: white;
            font-size: 1em;
        }
        .CreateAccountButtonHomePage {
            width: 100%;
            height: 2em;
        }
        .SignInHomePage {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .signinbutton{
            height: 3em;
            width: 100%;
        }
        .containerForDemoSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            font-size: 2vmin;
        }

        .demoContainerHome {
            display: flex;
            flex-direction: row;
            column-gap: 0.5em;
            align-items: center;
        }

        .DemoUserHomePage {
            background-color: rgb(255, 111, 0);
            display: flex;
            align-items: center;
            padding-bottom: 0.1em;
            height: 2em;
            border-radius: 5%;
        }
        .DemoHeader {
            font-size: 1.1em;
        }

        .BackgroundHeader {
            color: white;
            font-size: 1vmin;
        }
        .backgroundImageText {
            font-size: 0.8vmin;
        }

    } */

.BackgroundHeader {
  color: white;
}
.SignupHeader {
  color: white;
}
.backgroundImageText {
  color: white;
}

/* songs */
.TrendingSection {
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.TrendingContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    height: 24em;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
    column-gap: 2em;
    border-bottom: 0.1em solid #dbdada;
}
.Trendingsong-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    flex-wrap: wrap;
}

.TrendingsongCard {
    width: 20em;
    height: 24em;
  position: relative;
}

.TrendingsongImage {
  width: 20em;
  height: 20em;
}

.TrendingsongLink {
  z-index: 0;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.633);
}

.TrendinguserId,
.TrendingalbumId,
.TrendingsongDescription,
.TrendingsongId {
  font-size: 1em;
}

.TrendingPlayContainer {
  display: flex;
  flex-direction: column;
}
/* searchbar */

.searchBarContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.searchbar {
  width: 60%;
}
.searchbarDiv {
  width: 100%;
  margin-bottom: 2em;
}

/* search bar result */

.Filteredsong-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    height: 24em;
    text-align: left;
    overflow-y: hidden;
  }
/* each individual song */
.FilteredSongsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    column-gap: 2em;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
    border-bottom: 0.1em solid #dbdada;
  }
.SearchResult-container {
  width: 20em;
  height: 30em;
  background-image: linear-gradient(to bottom left, #fc6500, #6cd9d0);
  box-shadow: -3px 0px 23px 7px rgba(145, 138, 138, 1);
  margin-bottom: 2em;
}

.HiddenResult {
  visibility: hidden;
}

.textforDemo {
  padding-bottom: 0.2em;
}

.playButtonHoverSong {
  height: 3em;
  width: 4em;
}

.errorHandlingSongSearch {
  color: red;
}
/* display play button on hover */
/* .Trendingsong-container:hover {

} */
.PlayButtonContainer {
  width: 20em;
  height: 20em;
  display: none;
  position: absolute;
}

.Trendingsong-container:hover .PlayButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Trendingsong-container:hover .PlayMe:hover {
  cursor: pointer;
}
.Trendingsong-container:hover .PlayMe:active {
  cursor: pointer;
  background-color: rgb(209, 115, 32);
  border-radius: 50%;
}

/* for filtered section */
.PlayButtonContainer {
  width: 20em;
  height: 20em;
  display: none;
  position: absolute;
}

.TrendingsongCard:hover .PlayButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.TrendingsongCard:hover .PlayMe:hover {
  cursor: pointer;
}
.TrendingsongCard:hover .PlayMe:active {
  cursor: pointer;
  background-color: rgb(209, 115, 32);
  border-radius: 50%;
}

.PlayMe {
  height: 50%;
  width: 50%;
}

/* .PlayMe {
    display: none;
} */



/* Newest 50 songs */

.subheaderHomePage {
    margin-top: -0.5em;
    font-weight: 100;
    color: #999;
}
.homePage h1{
    font-size: 24px;
    font-weight: 100;
}


.currentSongThumbnail::-webkit-scrollbar, .SideBarContentMainSection::-webkit-scrollbar, .HeaderErrorStyling::-webkit-scrollbar, .SongInAlbumDetailsContainer::-webkit-scrollbar, .SongsInAlbumDetailsContainers::-webkit-scrollbar, .CommentsContainerSongs::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none
}
