
.CreateSong-outer {
    padding: 50px;
    width: 550px;
    height: 600px;
    display: flex;
   flex-direction: column;
   padding: 10px;
   justify-content: center;
   align-items: center;

  }

  .CreateSong-inner {
   display: flex;
   flex-direction: column;
   padding: 10px;
   justify-content: center;
   align-items: center;

  }
  .CreateSong-inner {
   text-align: left;
  }

  .CreateSongHeader {
    font-size: 24px;
  }
  .CreateSongLabel {
    width: 96%;
  }
  .innerCreateSong {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .SelectAlbumsCreateSongContainer{
    margin-top: 10px;
    width: 475px;
    height: 52px;
  }

  .OptionsAlbumsDropdown {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .albumIdInputCreateSong {
    padding: 5px;
    font-size: 24px;
    margin-left: 5px;
    width: 465px;
  }
  .titleInputCreateSong {
    padding: 5px;
    font-size: 24px;
    margin: 10px;
    width: 450px;
  }
  .descriptionCreateSong {
    padding: 5px;
    font-size: 24px;
    margin: 10px;
    width: 450px;
  }
  .urlCreateSong {
    padding: 5px;
    font-size: 24px;
    margin: 10px;
    width: 450px;
  }
  .imageUrlCreateSong {
    padding: 5px;
    font-size: 24px;
    margin: 10px;
    width: 450px;
  }


  .createSongButtons {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .submitCreateSong {
    padding: 5px;
    font-size: 24px;
    margin: 10px;
    width: 80%;
    background-color: rgb(255, 111, 0);
  }
  .cancelCreateSong {
    padding: 5px;
    font-size: 24px;
    margin: 10px;
    width: 40%;
    background-color: rgb(172, 172, 171);
  }

  .submitCreateSong:hover, .cancelCreateSong:hover {
    cursor: pointer;
    transform: scale(1.1);
  }


  /* Error handling */

  .errorHandlingContainer {
    width: 400px;
    height: 60px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
.HeaderErrorStyling {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  color: rgb(123, 123, 123);
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans;

}
  .UlBulletErrorStyling {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    list-style: none;
    color: red;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans;

  }
