
.EditSong-outer {
  padding: 50px;
  width: 500px;
  height: 550px;
  display: flex;
 flex-direction: column;
 padding: 10px;
 justify-content: center;
 align-items: center;

}

.EditSong-inner {
 display: flex;
 flex-direction: column;
 padding: 10px;
 justify-content: center;
 align-items: center;

}
.albumIdInputEditSong {
  padding: 5px;
  font-size: 24px;
  margin: 10px;
  width: 450px;
}
.titleInputEditSong {
  padding: 5px;
  font-size: 24px;
  margin: 10px;
  width: 450px;
}
.descriptionEditSong {
  padding: 5px;
  font-size: 24px;
  margin: 10px;
  width: 450px;
}
.urlEditSong {
  padding: 5px;
  font-size: 24px;
  margin: 10px;
  width: 450px;
}
.imageUrlEditSong {
  padding: 5px;
  font-size: 24px;
  margin: 10px;
  width: 450px;
}


.editSongButtons {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.submitEditSong {
  padding: 5px;
  font-size: 24px;
  margin: 10px;
  width: 80%;
  background-color: rgb(255, 111, 0);
}
.cancelEditSong {
  padding: 5px;
  font-size: 24px;
  margin: 10px;
  width: 40%;
  background-color: rgb(172, 172, 171);
}

.submitEditSong:hover, .cancelEditSong:hover {
  cursor: pointer;
  transform: scale(1.1);
}
