

.songs-container {
    margin: 0 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    height: 80%;
    padding-top: 50px;
}

.songImage {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
align-items: center;
position: relative;
margin-left: auto;
margin-right: auto;
z-index: 0;
    border-radius: 5px;
    width: 500px;
    height: 350px;
    padding: 20px;

}

.songImage:hover {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.1);
}

.albumId {
    font-weight: bold;
    font-size: 60px;
}

.songLink {
    font-style: italic;
    font-size: 48px;
}
