.OverallContainerAlbumDetails {
width: 100%;
height: 100%;
}

.BackgroundAlbumDetailsSection {
    width: 100%;
    height: 380px;
    background-image: linear-gradient(to bottom right, #fc6500, #505050);
    position: relative;
}


.AlbumDetailsForegroundSection {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
box-sizing: border-box;
padding: 30px 560px 20px 30px;
}
/* Album image */
.AlbumArtwork {
    z-index: 1;
    position: absolute;
    top: 20px;
    width: 340px;
    height: 340px;
    right: 20px;
}

/* Title section */
.AlbumDetailsTitleSection{
    display: flex;
    align-items: flex-start;
}

.SoundPlayButtonAlbumDetailsContainer {
    display: flex;
height: 60px;
width: 60px;
margin-right: 10px;
}

.PlayButtonAlbumDetails {
border-radius: 50%;
width: 100%;
height: 100%;
background-color: #f50;
border-color: #f50;
text-indent: -100000em
}

.PlayButtonAlbumDetails:hover {
    cursor: pointer;
    background-color: rgb(255, 89, 0);
    border-radius: 50%;

  }
 .PlayButtonAlbumDetails:active {
    cursor: pointer;
    background-color: rgb(255, 89, 0);
    border-radius: 50%;
  }


.TitleSectionAlbumDetailsContainer {
flex: 1;
min-width: 0;
}

.TitleAlbumDetailsContainer {
margin-bottom: 7px;
}

.HeaderAlbumDetailsTitle {
    position: relative;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    color: white;
    font-weight: 100;
    font-size: 24px;
    line-height: 37px;
    padding: 4px 7px;
    background-color: rgba(0,0,0,.8);
    max-width: fit-content;
    box-sizing: border-box;
    top: -0.5em;


}
.UsernameAlbumDetailsContainer {

}

.UsernameAlbumDetailsTitle {
    position: relative;
    color: #ccc;
    font-weight: 100;
    padding: 2px 7px 3px;
    font-size: 16px;
    line-height: 1.2;
    background-color: rgba(0,0,0,.8);
    max-width: fit-content;
    box-sizing: border-box;
    top: -1.5em;

}

/* description */

.AboutAlbumDetailsSection {

    width: 100%;
    height: 400px;
}








.album-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

.buttonsEditAndDeleteAlbum {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin-bottom: 2em;
}

.EditAlbumButton, .DeleteAlbumButton  {
    color: #fff;
    font-size: 2em;
  height: 2.5em;
  border-radius: 7%;
    background-color: rgb(255, 98, 0);
    border: 0.05em rgb(255, 111, 0) ;
    margin-bottom: 1em;
}



.EditAlbumButton:hover, .DeleteAlbumButton:hover{
    cursor: pointer;
}

.Onealbum-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
}

.OneAlbumCard {
    max-width: 25em;
    background-color: rgb(214, 213, 213);
    background-image: linear-gradient(to bottom right, #fc6500, #6cd9d0);
    box-shadow: -3px 0px 23px 7px rgba(145,138,138,1);
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.OnealbumImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
        border-radius: 5px;
        width: 100%;

    }

    .songLink:hover {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.02);
    }

    .OnealbumDescription, .OnealbumTitle
{
 font-size: 1.5em;
}

.Album-Artist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;

}

.OneAlbumartistCard {
    background-color: rgb(214, 213, 213);
    width: 100%;
    background-image: linear-gradient(to top left, #fc6500, #6cd9d0);
    box-shadow: -3px 0px 23px 7px rgba(145,138,138,1);
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.OneAlbumArtistUserId {
    font-weight: bold;
    font-size: 2em;
}

.Album-artistProfilePic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
        border: 2px solid black;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 20px;
        margin-top: 20px;
}
.Album-artistUsername {
    font-size: 2em;
}






.OneAlbum-Songs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.OneAlbum-songCard {
    background-color: rgb(214, 213, 213);
    width: 100%;
    background-image: linear-gradient(to top right, #fc6500, #6cd9d0);
    box-shadow: -3px 0px 23px 7px rgba(145,138,138,1);
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.OneAlbum-songLink {
    font-style: italic;
    font-size: 2em;
}

.OneAlbum-songImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
        border-radius: 5px;
        width: 100%;
}

.OneAlbum-songDescription, .EachSongId {
    font-size: 1.5em
}
