/* TODO Add site wide styles */
body, html, footer {
    width: 100%;
}
body {
    background-color: rgb(214, 213, 213);
    display: block;
    font: 12px Lucida;
}

@media screen and (max-width: 800px) {
    body {
      background-color: rgb(159, 15, 15);
    }
  }
