.SignupForm {
    display: flex;
    flex-direction: column;
    border: 1px black;
    justify-content: center;
    width: min-content;
    height: max-content;
    align-items: center;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


}
