/* top parent container */

.NavBarContainer {
  z-index: 3;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
    font-size: large;
    font-weight: bold;
    align-items: center;
    height: 4em;
    width: 100%;
  };

  #NavBar {
    background-color: rgba(0, 0, 0, 0.408);
    position: relative;
  }

  #signedInNavigation {
    background-color: rgb(44, 44, 44);
    position: sticky;
    top: 0px;
  }




  /* left most side containing logo */
  .LogoSide {
    height: 100%;
    width: 15em;
    display: flex;
    align-items: center;
  }
  .LogoNav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .imgLogo {
    width: 85%;
    height: 40%;
    padding-left: 1em;
  }

  /* middle nav */
  /* side containing logged-in features */
  .navBarLeftSide {
    justify-content: left;
    align-items: center;
    height: 100%;
  }

  #leftSideSignedIn {
    width: 50%;
    height: 100%;

  }

  #leftSideSignedOut {
    width: 35%;
  }

  /* container of nav links */
  .memberLinks
  {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .HomeNavButton {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-left: solid 0.2em black;
    border-right: solid 0.2em black;
  }


  .AlbumNavButton, .NavButtons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: solid 0.2em black;
  }


  .homeButton {
    font-size: 1em;
    height: 100%;
    width: 100%;
    border-top: none;
    border-bottom: none;
    border: none;
    background-color: transparent;
    color: rgb(194, 194, 194);
  }
  .songButton, .libraryButton, .albumButton {
    font-size: 1em;
    height: 100%;
    width: 100%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border: none;
    background-color: transparent;
    color: rgb(194, 194, 194);
  }

  .songButton:hover, .homeButton:hover, .albumButton:hover, .libraryButton:hover {
    color: white;
    cursor: pointer;
  }

/* media screen */


@media screen and (min-width: 800px){
 .homeButton, .songButton, .libraryButton, .albumButton {
  padding: 0em 1.5em;
 }
}
@media screen and (max-width: 800px){
 .homeButton, .songButton, .libraryButton, .albumButton {
  padding: 0em 0.5em;
 }
}



/* right side */

/* includes sign up features */
  .navBarRightSide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  #rightSideSignedIn {
    width: 30%;
  }

  #rightSideSignedOut {
    width: 45%;
  }

  .SignUpSide {
   height: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: right;
   align-items: center;
  }


 .profileButton {
 margin-right: 1em;
}

  .SignupSide {
    height: 100%;
    width: 80%;
   align-items: center;
   padding-right: 2em;
   display: flex;
   flex-direction: row;
   column-gap: 1em;
  justify-content: flex-end;}


.LogInNavBar, .SignupNavBar, .LogInDemo {
  color: white;
  height: 50%;
  border-radius: 7%;

}
.LogInNavBar {
  background-color: black;
  border: 0.05em solid white;
}
.SignupNavBar {
  background-color: rgb(255, 98, 0);
  border: 0.05em rgb(255, 111, 0) ;
}

.LogInDemo {
  background-color: transparent;
  border: none;
  height: 100%;
}

/* once signed in */
.SignInSide {
  height: 100%;
    width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
