.containerRow {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
  }
.containerColumn {
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
  }
.profileButton {
display: flex;
flex-direction: row;
height: 100%;
width: 6em;
margin-right: 1em;
border-radius: 50px;
border: 2px solid gray;
}

.profileWithMenu {
display: flex;
flex-direction: row;
height: 100%;
width: 6em;
margin-right: 1em;
border-radius: 50px;
border: 2px solid gray;

}

.profileImg {
width: 80%;
height: 100%;
border-radius: 50px;
}

.ImgWithMenu {
width: 80%;
height: 100%;
border-radius: 50px;

}

.fas {
  position: relative;
  top: 15px;
  left: 2px;
}
.profile-dropdown {
    position: absolute;
    top: 3em;
}


.profile-dropdown {
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
z-index: 2;
display: flex;
justify-content: center;
list-style: none;
background-color: rgba(255, 255, 255, 0.943);
border: 1px solid black;
border-radius: 0%;

}
.profile-dropdown li {
border-bottom: 0.1em solid rgba(0, 0, 0, 0.584);
padding: 0.2em 0.4em;
font-size: 1em;
text-align: center;
}

.profile-dropdown li:hover {
background-color: gray;
}




/* dropdown menu */
.separatordropdown {
padding: 0.1em;
position: relative;
left: 10px;
color: rgba(0, 0, 0, 0.38);
font-size: 0.8em;
font-style: italic;
text-decoration: underline;
text-align: center;

}

.logoutButton {
font-size: 1em;
background-color: rgb(255, 111, 0);
}

.logoutButton:hover {
cursor: pointer;
transform: scale(1.05);
color: white;
}

.mySongs, .myAlbums, .myLogOutButton {
display: flex;
flex-direction: row;
justify-content: space-between;
column-gap: 1em;
align-items: center;
}

.Navicon {
width: 18px;
height: 18px;
background-color: transparent;
margin-left: 5px;
}

.mySongsText, .myAlbumsText{
text-decoration: none;
color: black;
}

.mySongs:hover, .myAlbums:hover {
transform: scale(1.02);
color: white;
}

.mySongsText:hover, .myAlbumsText:hover, .Navicon:hover, .myLogOutButton{
transform: scale(1.02);
color: white;
}

#copyButtonDropdown:hover,  #logoutbuttonDropdown:hover{
  transform: scale(1.02);
  cursor: pointer;

}

#copyButtonDropdownMenu {
  color: black;
}

.alertmessageBox {
  position: absolute;
  right: -110px;
  top: 0;
  background-color: rgba(0, 255, 51, 0.4);
  box-shadow: 1px 1px 1px black;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 80px;
  z-index: 6;
}

.alertmessageBox2 {
  position: absolute;
  right: -110px;
  top: 90px;
  background-color: rgba(0, 255, 51, 0.4);
  box-shadow: 1px 1px 1px black;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 80px;
  z-index: 6;
}

.alertmessage {
  font-size: 16px;
  color: rgb(90, 90, 90);
}

.hiddedenalertbox {
  display: none;
}

@keyframes opacitychange {
  0% {
      opacity: 0.2;
    }

  50% {
      opacity: 1.0;
    }

  75% {
      opacity: 0.75;
    }
  100% {
      opacity: 0.0;
    }
  }

#keyframeAlerts {
  animation: opacitychange 1.5s infinite;
}
