
.loginStyle-outer {
  height: 350px;
  width: 500px;
 padding: 1em 3em;

}

.loginStyle-inner {
  width: auto;
  height: auto;
  padding: 0em 5em;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 box-sizing: border-box;
}

.SignUplabel {
  width: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  margin: 2%;
}

.SignInModalHeader {
  font-size: 2em;
}

.SignInInputLabel {
  font-size: 1em;

}
.submitloginButton {
  color: rgb(186, 186, 186);
  padding: 2%;
  font-size: 2.0em;
  margin: 2%;
  width: 140%;
  border: none;
  background-color: rgb(255, 111, 0);
}

.submitloginButton:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: white;
}
